body {
  background-image: url('/images/page-background.jpg');
  background-position:top left;
  background-size: cover;
  background-repeat: repeat;
  background-color: #49646F;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.greenline {
	width: 7px;
	height: 104px;
	background-color: #91eebc;
  position: absolute;
  right: 15px;
  margin-top: 85px;
}
