.small {
  font-size: 65%;
}

p {
  font-family: 'Roboto', sans-serif;
	font-size: 21.1px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ebeff0;
  padding-top: 26px;
}

a:hover {
    transition: all ease-in-out .3s;
  }
